.hotel-details__container {
  padding: 0 15px;
  margin-bottom: 100px;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.hotel-details__image-dimensions {
  display: flex;
  height: 600px;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

/* Base block styling */
.hotel-details {
  padding: 10px 15px;
  margin: 20px 0;
}

/* Header styles */
.hotel-details__header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hotel-details__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
}

.hotel-details__name {
  font-size: 16px;
  font-weight: 600;
  color: #252b5c;
}

.hotel-details__price {
  font-size: 16px;
  font-weight: 600;
  color: #252b5c;
}

.hotel-details__address {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
  color: #1f4c6b;
}

.hotel-details__emi {
  font-size: 10px;
  color: #ff6f00;
}

.hotel-details__location-title {
  font-size: 14px;
}

.hotel-details__location-address {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  color: #252b5c;
}

.hotel-details__location-icon {
  font-size: 16px;
  color: black;
  background-color: #ff750433;
  border-radius: 50%;
  padding: 4px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* static amenities */
.hotel-amenities {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.hotel-amenities__nearby {
  display: flex;
  gap: 8px;
}

.hotel-amenities__item {
  background-color: #f8f9fa;
  border-radius: 20px;
  padding: 8px 16px;
  font-size: 14px;
  color: #2e2e2e;
  font-weight: 500;
}

.hotel-amenities__title {
  font-size: 18px;
  color: #2e2e2e;
  font-weight: bold;
  margin-bottom: 8px;
}

.hotel-amenities__types {
  display: flex;
  gap: 12px;
}

.hotel-amenities__type {
  padding: 8px 20px;
  font-size: 14px;
  color: #2e2e2e;
  background-color: #f8f9fa;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.hotel-amenities__type--selected {
  background-color: #294a5e;
  color: #fff;
}

.hotel-amenities__type:hover {
  background-color: #294a5e;
}
